<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=poolrstorage;AccountKey=/5rc+7xrrWnDc+YuzkL0CJ+2n7GsVCIVdIdNZLKTyihMNCk5CBm2NeyDoS8eXXoC6621oSEL19Arg4Lv0JSwSg==" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=poolrstorage;AccountKey=/5rc+7xrrWnDc+YuzkL0CJ+2n7GsVCIVdIdNZLKTyihMNCk5CBm2NeyDoS8eXXoC6621oSEL19Arg4Lv0JSwSg==" />
    <add name="PooluDBConnString" providerName="System.Data.SqlClient" connectionString="data source=tcp:poolrdbserver.database.windows.net,1433;Initial Catalog=PooluDev;Persist Security Info=False;User ID=sqladmin;Password={Passing88};MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.3.0.0" newVersion="9.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ApiKey" value="mHsbKfHXNGcaGETp8L" />
    <add key="Powerball" value="us_powerball" />
    <add key="MegaMillions" value="us_mega_millions" />
    <add key="JackpotApi" value="https://www.magayo.com/api/jackpot.php?api_key=mHsbKfHXNGcaGETp8L&amp;game=" />
    <add key="JackpotUpdateTime" value="10:00|11:00" />
    <add key="ResultsApi" value="https://www.magayo.com/api/results.php?api_key=mHsbKfHXNGcaGETp8L&amp;game=" />
     <add key="ResultsUpdateTime" value="4:30|4:45" />
    <add key="AzureWebJobsEnv" value="Development"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>