<div class="headerTop" style="background-color:forestgreen;" >
    <div class="templateTitle" >
        @Html.ActionLink("Poolu", null, null, new { @style = "font-size:X-large;font-weight:bold" })
    </div>
    <div class="loginControl" >
        @Html.Partial("LogOnPartialView")
    </div>
</div>
<div style="background-color:forestgreen;height:5px" ></div>





